<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('./partials/_head') %>
    <title>Document</title>
</head>

<body>


    <%- include('./partials/_navbar.ejs') %>
   

    <h1>404 page not found</h1>

    <img src="/imgs/test.jpg" alt="">


</body>

</html>